#login .container #login-row #login-column #login-box {
    margin-bottom: 200px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #0863045d;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.wrapper {
    display: flex;
    justify-content: center;
}
