.facility{
    min-height: 100vh;
}
  
.facility .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
  
.facility .box-container .box{
    height:220px;
    width:280px;
    margin:10px;
    overflow: hidden;
}
  
.facility .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
  
.facility .box-container .box:hover img{
    transform: scale(1.3);
}

.heading{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    padding-top: 60px;
    color:var(--black);
}
  
.heading span{
    color:var(--blue);
}