section{
    overflow: hidden;
}

.home .content h1{
    font-size: 40px;
    color:var(--black);
}

.home .content h1 span{
    color:var(--blue);
}

.home .content h3{
    font-size: 30px;
    color:var(--black);
}
